@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-bold-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-italic-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-regular-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Base Application Styles */

@import 'bootstrap-variables';
@import 'bootstrap-custom';
@import '../fonts/pulkka-icons/styles.css';

body {

}

#app {
  max-width: 800px;
  margin: 0 auto;
}

.login-panel {
  margin-top: 48px;

  .input-group {
    margin-bottom: 24px;
  }

  .panel-heading {
    text-align: center;

    .app-icon {
      height: 48px;
    }

    h3 {
      margin-top: 0;
    }
  }
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.view-content {
  padding-top: $navbar-height + 5;
}

.pulkka-title {
  margin-top: 10px;
}

.notification-count {
  background-color: $brand-danger;
  font-family: $font-family-sans-serif;
  font-weight: 700;
  display: block;
  text-align: center;
  line-height: 16px;
  font-size: 10px;
  position: absolute;
  top: -7px;
  right: -10px;
  width: 16px;
  height: 16px;
  color: #FFF;
  border-radius: 50%;
}

.facility-drilldown {
  .list-group-item {
    .action-icon {
      float: right;
    }
    text-transform: capitalize;
  }
}

.facility-return {
  text-align: right;
  .list-group-item .glyphicon {
    float: left;
  }
}

.facility-status {
  .btn {
    font-size: 14px;
    white-space: normal;
    line-height: 1;
    padding: 6px;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }

  .btn__newstatus {
    height: 14px * 5;
  }

  .icon { font-size: 24px; };

  h6 {
    margin-top: 0;
    margin-bottom: 6px;
  }

}

.unit-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unit-status {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 3px 6px;
}

.unit-name {
  margin-left: 15px;
  margin-right: 20px;
  line-height: 1;
  flex: 1;
}

.condition {
  border-radius: 6px;
  padding: 6px;
  width: 32px;
  height: 32px;
  text-align: center;

  .icon {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  }
}

.notice-small {
  margin-left: 20px;
  margin-bottom: 10px;
}

.notice-large {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-style: italic;
}

.condition-good {
  background-color: $brand-success;
}

.condition-unusable {
  background-color: $brand-danger;
}

.condition-satisfactory {
  background-color: $brand-warning;
}

.condition-warning {
  background-color: #B600C7;
}

.condition-unknown {
  background-color: darken($gray-lighter, 10%);
}

.action-icon {
  color: $brand-primary;
}

.help-block {
  margin-top: $line-height-computed;
  line-height: 1;
  color: $gray-light;
}

// Make bootstrap navbar non-collapsible

.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}

.navbar-fixed-top {
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .container-fluid {
    max-width: 800px;
  }
}

.secondary-nav {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 15px;
}

.mass-edit-wrapper {
  padding-bottom: 30px;
}

.mass-edit-checkbox,
.mass-edit-radio {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;

  input {
    position: absolute;
    left: 0;
    top: 3px;
  }

  label {
    font-weight: normal;
    margin: 0;
  }

  .observations {
    color: $text-muted;
    padding-left: 15px;
  }

  .notice-small {
    margin: 0 0 5px 0;
    padding-left: 10px;
    border-left: 3px solid rgba(0,0,0,0.1);
    line-height: 1.1;
    font-style: italic;
  }
}
