@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-bold-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-italic-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-regular-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Base Application Styles */

@import 'bootstrap-variables';
@import 'bootstrap-custom';

body {

}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.view-content {
  padding-top: $navbar-height + $line-height-computed;
}

.facility-drilldown {
  .list-group-item .glyphicon {
    float: right;
  }
}

.facility-return {
  text-align: right;
  .list-group-item .glyphicon {
    float: left;
  }
}

.facility-status {
  .btn {
    border: 3px solid #fff;
  }
  .btn.active {
    border: 3px solid $brand-primary;
  }
}

.unit-status {
  background: $brand-success;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 3px 6px;
}

.condition {
  margin-right: $padding-base-horizontal;
}

.condition-ok {
  //@extend .fa;
  //@extend .fa-meh-o;
  color: $brand-success;
}

.condition-nosnow {
  //@extend .fa;
  //@extend .fa-tint;
  color: $brand-danger;
}

.action-icon {
  color: $brand-primary;
}

// Make bootstrap navbar non-collapsible

.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}